In [1]:
import pandas as pd

In [3]:
budget_data = pd.read_csv("Resources/budget_data.csv")

In [4]:
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [100]:
# The total number of months included in the dataset.

total_rows = budget_data.count

budget_data["Date"].count()

86

In [101]:
# The net total amount of Profit/Losses over the entire period.

budget_data.sum(axis=0)

Date              Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                              38382578
Amount Changed                                              -196785
difference                                                  -196785
dtype: object

In [102]:
# The average of the changes in Profit/Losses over the entire period.

total = budget_data["Profit/Losses"].sum
print("$", total)

$ <bound method Series.sum of 0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64>

In [103]:
# Difference in profit or loss by row

difference = budget_data["Profit/Losses"].diff(+1)

# Add column "Difference" to dataframe

budget_data["difference"] = difference

budget_data.head()

       Date  Profit/Losses  Amount Changed  difference
0  Jan-2010         867884             NaN         NaN
1  Feb-2010         984655        116771.0    116771.0
2  Mar-2010         322013       -662642.0   -662642.0
3  Apr-2010         -69417       -391430.0   -391430.0
4  May-2010         310503        379920.0    379920.0

In [104]:
# Calculate average change

average_change = budget_data["Amount Changed"].mean()

print("$", average_change)

$ -2315.1176470588234

In [107]:
# The greatest increase in profits (date and amount) over the entire period.

#Determine the amount of increase or decrease from the previous month
amount_change = budget_data["Profit/Losses"].diff()
budget_data["Amount Changed"] = amount_change


#Identify the greatest positive change
GreatestIncrease = '${:.0f}'.format(budget_data["Amount Changed"].max())
Gi_Date = budget_data.sort_values('Profit/Losses').tail(1).Date

In [ ]:
#Identify the greatest negative change
GreatestDecrease =  '${:.0f}'.format(budget_data["Amount Changed"].min())
Gd_Date = budget_data.sort_values('Profit/Losses').head(1).Date

In [110]:
print("Total Months: %s" %(Months))
print("Total: %s" %(Total_Funds))
print("Average Change in Profit/Losses: %s %s" %("$", average_change))
print("Greatest Increase in Profits: %s %s" %(Gi_Date.to_string(index=False), [GreatestIncrease]))
print("Greatest Decrease in Profits: %s %s" %(Gd_Date.to_string(index=False), [GreatestDecrease]))

Total Months: 86
Total: $38382578
Average Change in Profit/Losses: $ -2315.1176470588234
Greatest Increase in Profits:  Feb-2012 ['$1926159']
Greatest Decrease in Profits:  Sep-2013 ['$-2196167']